@use "./variables";

// ################################
//            Alexandre
// ################################
.footer {
    background-color: variables.$lapisLazuli;
    display: grid;
    color: variables.$white;
    font-family: variables.$FontText;
    font-size: variables.$mobileFontSizeText;
    grid-template-rows: 7fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    text-align: center;
    padding: 2% 0;
    &__pages {
        display: grid;
        row-gap: 25px;
    }
    &__coordonnees {
        display: grid;
    }
    &__plus {
        display: grid;
    }
    &__item {
        color: variables.$white;
        text-decoration: none;
    }
    &__logo {
        font-family: variables.$FontLogo;
        font-size: variables.$mobileFontSizeLogo;
    }
    &__button {
        background-color: variables.$rgbAlpha;
        color: variables.$white;
        border: solid 4px variables.$white;
        width: 1fr;
        border-radius: 10%;
    }
    &__copyright {
        font-size: variables.$mobileFontSizeCopyright;
    }
}