@use "./variables";

// ################################
//            Alexandre
// ################################
footer {
    width: 100%;
    background-color: variables.$lapisLazuli;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    &__pages {
        display: grid;
    }
    &__coordonnees {
        display: grid;
    }
    &__plus {
        display: grid;
    }
}