// jay
@use "variables";

.hero {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid variables.$raisinBlack;
    position: relative;
    margin: 20px 0;
    
    &__nouvelles {
        position: absolute;
        width: 100%;
        

        &--1 {
            width: 100%;
            height: 100%;
            left: 100%;
            background-image: url(../sources/medias/2017\ -\ normandeae.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &--2 {
            width: 100%;
            height: 100%;
            background-image: url(../sources/medias/1995\ manif\ animaux.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition-duration: 2s;
            transition-timing-function: ease;
        }

        &--3 {
            width: 100%;
            height: 100%;
            right: 100%;
            background-image: url(../sources/medias/alxis\ jdq.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }


}