@use "variables";


// tablette
@media screen and (min-width: 768px) {

    //font sizes for all the site
    a, p, button {
        font-size: variables.$tabletFontSizeText; 
    }


    .projet {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;

        &__ButtonContainer {
            text-align: left;
        }

        &__texte {
            font-size: variables.$tabletFontSizeText;
            margin: 10px 0;
            color: variables.$white;
            text-align: right;
            margin: auto 0;
        }

        &__OriginalSite {
            font-size: variables.$tabletFontSizeText;
            height: 36px;
            margin: 10px 0;
            width: 50%;
            max-width: 150px;
            float: left;
            border:none;
        }

        &__ClosePopUp {
            background-color: variables.$lapisLazuli;
            color: variables.$white;
            font-size: variables.$tabletFontSizeText;
            height: 36px;
            margin: 10px 0;
            width: 20%;
            max-width: 60px;
            border:none;
        }
    }


    .navbar {
        display: grid;
        grid-template-areas: "logo logo logo search search search"
                              "title title title search search search"
                              "links links links links links links";
        margin: 0 auto;
        gap: 10px;

      
        &__titre {
          grid-area: title;
          height: 100%;
          color: variables.$white;
          margin: 0;
          max-width: 70%;
          max-height: 200px;
          text-align: left;
          font-size: variables.$tabletFontSizeText;
        }
      
        &__links {
          grid-area: search;
        }
        &__logo {
            grid-area: logo;
            font-family: variables.$FontLogo;
            font-size: variables.$tabletFontSizeLogo;
            color: variables.$white;
            text-align: left;

          }
        &__button {
            grid-area: search;
            margin:5px 0 10px auto;
            padding: 1% 2%;
            border: 3px solid variables.$white;
            display: block;
            color: variables.$raisinBlack;
            font-size: variables.$tabletFontSizeText;
            border-radius: 5px;
            
          }
        &__search {
        height: 50%;
        width: 40vw;
        height: 30px;
        background-color: variables.$steelBlue;
        border: none;
        color: white;
        }
      

      
        &__burger {
          grid-area: menu;
          display: none; //not sure about this...
        }

        &__collapse {
            grid-area: links;
            width: 100%;
        }

        //to modify the nav links
        &__accueil, &__nouvelles, &__services, &__equipes, &__FAQ, &__propos {
            color: variables.$white;
            font-size: variables.$tabletFontSizeText;
            font-family: variables.$FontText;
        }
      
        &__english {
            display: block;
            font-size: variables.$tabletFontSizeText;
        }
      
        &__joindre {
            display: block;
            font-size: variables.$tabletFontSizeText;
        }
      

      }
     .nouvelles {
        width: 100%;
            &__boxtitre{
                display: flex;
                justify-content: space-between;
            }
            &__titre{
                display: inline-block;
                align-self: self-end;
                margin: 0;
            }
            &__lien{
                display: inline-block;
                color: variables.$steelBlue;
                text-decoration: none;
                align-self: self-end;
                
            }
            &__grid-container{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(auto-fill, 1fr);
                gap: 20px;
                background-color:variables.$silver;
                padding: 20px;
                
            }
            &__Item {
                background-color: variables.$platinum;
        
            }
            &__img {
                text-align: center;
                background-size: contain;
                width: 100%;
                border: 1px solid variables.$raisinBlack;
                height: 50%;
            }
            &__titreCarte{
                text-align: center;
            }
            &__paraCarte{
                text-align: center;
            }
            &__filtrer {
                background-color: variables.$lapisLazuli;
                color:variables.$white;
                padding: 15px;
            }
    }
    // Alexandre
    .footer {
        grid-template-areas: 
        "pages coordonnees plus"
        "pages coordonnees plus"
        "pages coordonnees plus"
        "pages coordonnees plus"
        "copyright copyright copyright";
        row-gap: 50px;
    }
    
} 

// ordi
@media screen and (min-width: 1400px) {

    //font sizes for all the site
    a, p, button {
        font-size: variables.$ordiFontSizeText; 
    }

    .projet {
        display: grid;
        grid-template-columns: 2fr 1fr;

        &__ButtonContainer {
            text-align: left;
        }

        &__texte {
            font-size: variables.$ordiFontSizeText;
            margin: 10px 0;
            color: variables.$white;
        }

        &__OriginalSite {
            font-size: variables.$ordiFontSizeText;
            height: 36px;
            margin: 10px 0;
            width: 50%;
            float: left;
            border:none;
        }

        &__ClosePopUp {
            background-color: variables.$lapisLazuli;
            color: variables.$white;
            font-size: variables.$ordiFontSizeText;
            height: 36px;
            margin: 10px 0;
            width: 20%;
            border:none;
        }
    }

    header  {
        display: block;
        text-align: center;
    }

    .navbar {
        display: grid;
        grid-template-areas: "logo logo logo search search search"
                              "title title title search search search"
                              "links links links links links links";
        margin: 0;
        gap: 10px;

      
        &__titre {
          grid-area: title;
          height: 100%;
          color: variables.$white;
          margin: 0;
          max-width: 60%;
          text-align: left;
          font-size: variables.$ordiFontSizeText;
        }
      
        &__links {
          grid-area: search;
        }

        &__logo {
            grid-area: logo;
            font-family: variables.$FontLogo;
            font-size: variables.$ordiFontSizeLogo;
            color: variables.$white;
            text-align: left;
        }

        &__button {
            grid-area: search;
            margin:5px 0 10px auto;
            padding: 1% 2%;
            border: 3px solid variables.$white;
            display: block;
            color: variables.$raisinBlack;
            font-size: variables.$ordiFontSizeText;
            border-radius: 5px;    
        }

        &__search {
        height: 50%;
        width: 40vw;
        max-width: 500px;
        height: 30px;
        background-color: variables.$steelBlue;
        border: none;
        color: white;
        }
      
        &__burger {
          grid-area: menu;
          display: none; //not sure about this...
        }

        &__collapse {
            grid-area: links;
            width: 100%;
        }

        //to modify the nav links
        &__accueil, &__nouvelles, &__services, &__equipes, &__FAQ, &__propos {
            color: variables.$white;
            font-size: variables.$ordiFontSizeText;
            font-family: variables.$FontText;
        }
      
        &__english {
            display: block;
            font-size: variables.$ordiFontSizeText;
        }
      
        &__joindre {
            display: block;
            font-size: variables.$ordiFontSizeText;
        }
      

      }
      .nouvelles {
       
        width: 100%;
            &__boxtitre{
                display: flex;
                justify-content: space-between;
            }
            &__titre{
                display: inline-block;
                align-self: self-end;
                margin: 0;
            }
            &__lien{
                display: inline-block;
                color: variables.$steelBlue;
                text-decoration: none;
                align-self: self-end;
                
            }
            &__grid-container{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: repeat(auto-fill, 1fr);
                gap: 20px;
                background-color:variables.$silver;
                padding: 20px;
                
            }
            &__Item {
                background-color: variables.$platinum;
                height: 100%;
                display: flex;
                flex-direction: column;
            }
            &__img {
                text-align: center;
                background-size: cover;
                width: 100%;
                border: 1px solid variables.$raisinBlack;
                height: 60%;
                grid-area: image;
            }
            &__titreCarte{
                text-align: center;
                padding-top: 10px;
                grid-area: titre;
            }
            &__paraCarte{
                text-align: center;
                grid-area: content;
            }
            &__filtrer {
                background-color: variables.$lapisLazuli;
                color:variables.$white;
                padding: 15px;
            }
    }
    
    
}
