@use "variables";


@media screen and (min-width: 1400px) {
    header p {
        display: block;
        font-size: 30px;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    header p {
        display: block;
        font-size: 30px;
        text-align: center;
    }
}