@use "variables";
/*Alexandre*/
.membre_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 3px variables.$raisinBlack;
    font-family: variables.$FontText;
    padding: 0 4%;
    .membre__titre {
        font-size: variables.$mobileFontSizeTitle;
    }
    .membre__description {
        font-size: variables.$mobileFontSizeText;
    }
}