@use "variables";
/*Alexandre*/
.membre {
    display: flex;
    justify-content: center;
    &_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: solid 3px variables.$raisinBlack;
        font-family: variables.$FontText;
        padding: 4%;
        width: 100%;
        height: 30%;
    }
    &__titre {
        font-size: variables.$mobileFontSizeTitle;
    }
    &__description {
        font-size: variables.$mobileFontSizeText;
    }
    &__bouton {
        font-size: variables.$mobileFontSizeTitle;
        padding: 1%;
    }
}
