@use "variables";


.nouvelles {
    width: 100%;

        &__grid-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 15px;
        }
        &__Item {
            background-color: variables.$platinum;
          
        }
        &__img {
            text-align: center;
            background-size: contain;
            width: 100%;
            border: 1px solid variables.$raisinBlack;
        }
        &__titreCarte{
            text-align: center;
        }
        &__paraCarte{
            text-align: center;
        }
        &__filtrer {
            background-color: variables.$lapisLazuli;
            color:variables.$white;
            padding: 15px;
        }
}

