@use "variables";


.nouvelles {
    
    width: 100%;
        &__boxtitre{
            display: flex;
            justify-content: space-between;
        }
        &__titre{
            display: inline-block;
            align-self: self-end;
            margin: 0;
        }
        &__lien{
            display: inline-block;
            color: variables.$steelBlue;
            text-decoration: none;
            align-self: self-end;
            
        }
        &__grid-container{
            display: grid;
            grid-template-rows: repeat(auto-fill, 1fr);
            gap: 20px;
            background-color:variables.$silver;
            padding: 20px;
            
        }
        &__Item {
            background-color: variables.$platinum;
    
        }
        &__img {
            text-align: center;
            background-size: cover;
            width: 100%;
            border: 1px solid variables.$raisinBlack;
            height: 60%;
        }
        &__titreCarte{
            text-align: center;
        }
        &__paraCarte{
            text-align: center;
        }
        &__filtrer {
            background-color: variables.$lapisLazuli;
            color:variables.$white;
            padding: 15px;
        }
}
/* Good luck
.nouvelles {
    width: 100%;
        &__boxtitre{
            display: flex;
            justify-content: space-between;
        }
        &__titre{
            display: inline-block;
            align-self: self-end;
            margin: 0;
        }
        &__lien{
            display: inline-block;
            color: variables.$steelBlue;
            text-decoration: none;
            align-self: self-end;
            
        }
        &__grid-container{
            display: grid;
            grid-template-rows: repeat(auto-fill, 1fr);
            gap: 20px;
            background-color:variables.$silver;
            padding: 20px;
            
        }
        &__Item {
            background-color: variables.$platinum;
            display: grid;
            grid-template-areas: 
            "image image titre titre"
            "image image content content ";
        }
        &__img {
            text-align: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            border: 1px solid variables.$raisinBlack;
            grid-area: image;
        }
        &__titreCarte{
            text-align: center;
            grid-area: titre;
        }
        &__paraCarte{
            text-align: center;
            grid-area: content;
        }
        &__filtrer {
            background-color: variables.$lapisLazuli;
            color:variables.$white;
            padding: 15px;
        }
}
*/