@use "variables";
// Alexandre
.services {
    margin-top: 10vh;
    width: 100%;
    height: 120%;
    &__titre {
        font-size: variables.$mobileFontSizeTitle;
        font-family: variables.$FontText;
    }
    &__container {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 10px;
        font-size: variables.$mobileFontSizeText;
        font-family: variables.$FontText;
        color: variables.$white;
        text-align: center;
    }
    &__carte {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr 1fr;
        background-color: variables.$lapisLazuli;
        border: solid 5px variables.$raisinBlack;
        row-gap: 5px;
        transform: scale(1);
        transform-origin: 50% 125%;
        transition: 1s;
        &--active {
            transform: scale(1.2);
            z-index: 1;
        }
    }
    &__images {
        background-repeat: no-repeat;
        background-size: cover;
    }
    #service1 {
        background-image: url("../sources/medias/Ass.\ chateauguay.jpg");
    }
    #service2 {
        background-image: url("../sources/medias/Ass.\ chateauguay.jpg");
    }
    #service3 {
        background-image: url("../sources/medias/Ass.\ chateauguay.jpg");
    }
}