@use "variables";
/*Alexandre*/
.temoignages {
    display: flex;
    justify-content: center;
    &__container {
        display: flex;
        flex-direction: column;
        width: 90%;
        font-family: variables.$FontText;
        color: variables.$white;
    }
    &__titre {
        font-size: variables.$mobileFontSizeTitle;
        color: variables.$raisinBlack;
    }
    &__carte {
        background-color: variables.$lapisLazuli;
    }
    &__image {

    }
    &__nom {
        font-size: variables.$mobileFontSizeTitle;;
    }
    &__description {
        font-size: variables.$mobileFontSizeText;
    }
}