// Alexandre
$white: #fff;
$platinum: #D9D9D9;
$steelBlue: #5180AB;
$lapisLazuli: #1C5D99;
$raisinBlack: #1A1423;

//jay
@font-face {
    font-family: "Impact";
    src: url(../assets/fonts/impact.ttf) format("truetype");
}

@font-face {
    font-family: "Metrophobic";
    src: url(../assets/fonts/Metrophobic-Regular.ttf) format("truetype");
}

$mobileFontSizeTitle : 12px;
$mobileFontSizeText : 10px;
$mobileFontSizeLogo : 32px;
$ordiFontSizeTitle : 40px;
$ordiFontSizeText : 24px;
$ordiFontSizeLogo : 60px;
$FontLogo: "Impact";
$FontText: "Metrophobic";


//ian
