@font-face {
  font-family: "Impact";
  src: url(../assets/fonts/impact.ttf) format("truetype");
}
@font-face {
  font-family: "Metrophobic";
  src: url(../assets/fonts/Metrophobic-Regular.ttf) format("truetype");
}
.footer {
  background-color: #1C5D99;
  display: grid;
  color: #fff;
  font-family: "Metrophobic";
  font-size: 10px;
  grid-template-rows: 7fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  text-align: center;
  padding: 2% 0;
}
.footer__pages {
  display: grid;
  row-gap: 25px;
}
.footer__coordonnees {
  display: grid;
}
.footer__plus {
  display: grid;
}
.footer__item {
  color: #fff;
  text-decoration: none;
}
.footer__logo {
  font-family: "Impact";
  font-size: 32px;
}
.footer__button {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: solid 4px #fff;
  max-width: 60%;
  border-radius: 3px;
  justify-self: center;
  padding: 2% 10%;
}
.footer__copyright {
  grid-column: 1/5;
  font-size: 8px;
}

header {
  background-color: #1C5D99;
  display: grid;
  width: 100vw;
  margin: 0;
  grid-template-rows: auto auto;
}

#nav-menu {
  font-size: 12px;
}

a {
  font-family: "Metrophobic";
}

.navbar {
  display: grid;
  grid-template-areas: "menu menu logo logo" "title title search search" "title title search search";
  margin: 0 10px;
  gap: 5px;
}
.navbar__titre {
  grid-area: title;
  height: 100%;
  color: #fff;
  margin: 0;
}
.navbar__links {
  grid-area: search;
  align-self: start;
  justify-self: start;
}
.navbar__search {
  height: 50%;
  width: 40vw;
  background-color: #5ca3e6;
  border: none;
}
.navbar__button {
  grid-area: search;
  margin: 0 0 5px auto;
  padding: 0.5% 1.5%;
  border: 3px solid #fff;
  display: block;
  color: #1A1423;
  font-size: 10px;
  border-radius: 5px;
}
.navbar__logo {
  grid-area: logo;
  font-family: "Impact";
  font-size: 32px;
  color: #fff;
  text-align: right;
}
.navbar__burger {
  grid-area: menu;
}
.navbar__english {
  display: none;
  font-family: "Metrophobic";
  font-size: 10px;
  color: #fff;
  margin: 0;
  text-align: right;
}
.navbar__joindre {
  font-family: "Metrophobic";
  font-size: 10px;
  color: #fff;
  margin: 0;
  text-align: right;
  display: none;
}

.projet {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #5180AB;
  gap: 5px;
}
.projet__texte {
  font-size: 10px;
  margin: 10px 0;
  color: #fff;
  padding-left: 20px;
}
.projet__OriginalSite {
  font-size: 10px;
  height: 36px;
  margin: 10px 0;
  width: 50%;
  float: left;
  border: none;
}
.projet__ClosePopUp {
  background-color: #1C5D99;
  color: #fff;
  font-size: 10px;
  height: 36px;
  margin: 10px 0;
  width: 20%;
  border: none;
}

@media screen and (min-width: 768px) {
  a, p, button {
    font-size: 12px;
  }
  .projet {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
  .projet__ButtonContainer {
    text-align: left;
  }
  .projet__texte {
    font-size: 12px;
    margin: 10px 0;
    color: #fff;
    text-align: right;
    margin: auto 0;
  }
  .projet__OriginalSite {
    font-size: 12px;
    height: 36px;
    margin: 10px 0;
    width: 50%;
    max-width: 150px;
    float: left;
    border: none;
  }
  .projet__ClosePopUp {
    background-color: #1C5D99;
    color: #fff;
    font-size: 12px;
    height: 36px;
    margin: 10px 0;
    width: 20%;
    max-width: 60px;
    border: none;
  }
  .navbar {
    display: grid;
    grid-template-areas: "logo logo logo search search search" "title title title search search search" "links links links links links links";
    margin: 0 auto;
    gap: 10px;
  }
  .navbar__titre {
    grid-area: title;
    height: 100%;
    color: #fff;
    margin: 0;
    max-width: 70%;
    max-height: 200px;
    text-align: left;
    font-size: 12px;
  }
  .navbar__links {
    grid-area: search;
  }
  .navbar__logo {
    grid-area: logo;
    font-family: "Impact";
    font-size: 40px;
    color: #fff;
    text-align: left;
  }
  .navbar__button {
    grid-area: search;
    margin: 5px 0 10px auto;
    padding: 1% 2%;
    border: 3px solid #fff;
    display: block;
    color: #1A1423;
    font-size: 12px;
    border-radius: 5px;
  }
  .navbar__search {
    height: 50%;
    width: 40vw;
    height: 30px;
    background-color: #5180AB;
    border: none;
    color: white;
  }
  .navbar__burger {
    grid-area: menu;
    display: none;
  }
  .navbar__collapse {
    grid-area: links;
    width: 100%;
  }
  .navbar__accueil, .navbar__nouvelles, .navbar__services, .navbar__equipes, .navbar__FAQ, .navbar__propos {
    color: #fff;
    font-size: 12px;
    font-family: "Metrophobic";
  }
  .navbar__english {
    display: block;
    font-size: 12px;
  }
  .navbar__joindre {
    display: block;
    font-size: 12px;
  }
}
@media screen and (min-width: 1400px) {
  a, p, button {
    font-size: 24px;
  }
  .projet {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .projet__ButtonContainer {
    text-align: left;
  }
  .projet__texte {
    font-size: 24px;
    margin: 10px 0;
    color: #fff;
  }
  .projet__OriginalSite {
    font-size: 24px;
    height: 36px;
    margin: 10px 0;
    width: 50%;
    float: left;
    border: none;
  }
  .projet__ClosePopUp {
    background-color: #1C5D99;
    color: #fff;
    font-size: 24px;
    height: 36px;
    margin: 10px 0;
    width: 20%;
    border: none;
  }
  header {
    display: block;
    text-align: center;
  }
  .navbar {
    display: grid;
    grid-template-areas: "logo logo logo search search search" "title title title search search search" "links links links links links links";
    margin: 0 10vw;
    gap: 10px;
  }
  .navbar__titre {
    grid-area: title;
    height: 100%;
    color: #fff;
    margin: 0;
    max-width: 60%;
    text-align: left;
    font-size: 24px;
  }
  .navbar__links {
    grid-area: search;
  }
  .navbar__logo {
    grid-area: logo;
    font-family: "Impact";
    font-size: 60px;
    color: #fff;
    text-align: left;
  }
  .navbar__button {
    grid-area: search;
    margin: 5px 0 10px auto;
    padding: 1% 2%;
    border: 3px solid #fff;
    display: block;
    color: #1A1423;
    font-size: 24px;
    border-radius: 5px;
  }
  .navbar__search {
    height: 50%;
    width: 40vw;
    max-width: 500px;
    height: 30px;
    background-color: #5180AB;
    border: none;
    color: white;
  }
  .navbar__burger {
    grid-area: menu;
    display: none;
  }
  .navbar__collapse {
    grid-area: links;
    width: 100%;
  }
  .navbar__accueil, .navbar__nouvelles, .navbar__services, .navbar__equipes, .navbar__FAQ, .navbar__propos {
    color: #fff;
    font-size: 24px;
    font-family: "Metrophobic";
  }
  .navbar__english {
    display: block;
    font-size: 24px;
  }
  .navbar__joindre {
    display: block;
    font-size: 24px;
  }
}
.body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr) 30px;
  margin-top: 30px;
}

/*Alexandre*/
.membre {
  grid-area: 5/2/6/7;
  display: flex;
  justify-content: center;
}
.membre_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 3px #1A1423;
  font-family: "Metrophobic";
  padding: 4%;
  width: 100%;
  height: 30%;
}
.membre__titre {
  font-size: 12px;
}
.membre__description {
  font-size: 10px;
}
.membre__bouton {
  font-size: 12px;
  padding: 1%;
}

.nouvelles {
  width: 100%;
}
.nouvelles__grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.nouvelles__Item {
  background-color: #D9D9D9;
}
.nouvelles__img {
  text-align: center;
  background-size: contain;
  width: 100%;
  border: 1px solid #1A1423;
}
.nouvelles__titreCarte {
  text-align: center;
}
.nouvelles__paraCarte {
  text-align: center;
}
.nouvelles__filtrer {
  background-color: #1C5D99;
  color: #fff;
  padding: 15px;
}

/*Alexandre*/
.temoignages {
  grid-area: 4/2/5/7;
  display: flex;
  justify-content: center;
}
.temoignages__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Metrophobic";
  color: #fff;
}
.temoignages__titre {
  font-size: 12px;
  color: #1A1423;
}
.temoignages__carte {
  background-color: #1C5D99;
}
.temoignages__nom {
  font-size: 12px;
}
.temoignages__description {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=styles.css.map */