@use "partials-scss/variables";

*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #1C5D99;
    display: grid;
    width: 100vw;
    margin: 0;
    grid-template-rows: 1fr auto
}

header p {
    display: inline-block;
    font-size: 10px;
}

