@use "partials-scss/variables";


.nav {
    background-color: #1C5D99;
    display: flex;
    width: 100vw;
    margin: 0;
}

// Alexandre
footer {
    width: 100%;
    background-color: variables.$lapisLazuli;
}