@use "partials-scss/variables";
@use "partials-scss/footer";
@use "partials-scss/navigationBar";
@use "partials-scss/mediaQuery";
@use "partials-scss/accueil";
@use "partials-scss/membre";
@use "partials-scss/nouvelle";
@use "partials-scss/hero";
@use "partials-scss/cartesTemoignage";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*fix navbar*/
.navbar-expand-md {
    flex-wrap: wrap; 
    justify-content: center; 
}

