@use "partials-scss/variables";
@use "partials-scss/footer";
@use "partials-scss/navigationBar";

@use "partials-scss/membre";
@use "partials-scss/nouvelle";
@use "partials-scss/hero";
@use "partials-scss/services";
@use "partials-scss/cartesTemoignage";


@use "partials-scss/accueil";


@use "partials-scss/mediaQuery"; //has to be the last one so it doesnt get over written

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*fix navbar*/
.navbar-expand-md {
    flex-wrap: wrap; 
    justify-content: center; 
}


.body {
    max-width: 1400px;
    margin: 0 auto;
}