// jay
@use "variables";

.hero {
    width: 100%;
    height: 50vw;
    max-height: 300px;
    overflow: hidden;
    border: 1px solid variables.$raisinBlack;
    margin: 20px auto;

    &__swipper {
        height: 100%;
    }
    
    &__nouvelles {
        width: 100%;
        height: 100%;
        overflow-y: hidden;

        img {
            width : 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }

        &--1 {
            width: 100%;
            height: 100%;
        }

        &--2 {
            width: 100%;
            height: 100%;
        }

        &--3 {
            width: 100%;
            height: 100%;
        }
    }

    &__arrowRight, &__arrowLeft {
        color: variables.$raisinBlack;
    }
}

//overwrite bootstrap
.swiper-pagination-bullet-active {
    background: variables.$raisinBlack;;
}