@use "variables";

.allNews {
    width: 100%;
    margin: 20px 0;

    &__boxtitre{
        display: flex;
        justify-content: space-between;
    }

    &__titre{
        display: inline-block;
        align-self: self-end;
        margin: 0 0 10px 0;
    }

    &__newspaper {
        width: 50px;
    }

    &__lien{
        display: inline-block;
        color: variables.$steelBlue;
        text-decoration: none;
        align-self: self-end;
        
    }

    &__grid-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:variables.$silver;
        padding: 20px;   
    }

    &__Item {
        background-color: variables.$platinum;
        height: fit-content;
        margin-bottom: 20px;
        width: 45%;
        margin: 10px 10px;
        transition-duration: 0.3s;

        &:hover {
            background-color: variables.$white;
        }
    }

    &__first {
        width: 100%;
    }

    &__late {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    &__img {
        text-align: center;
        background-size: contain;
        width: 100%;
        border: 1px solid variables.$raisinBlack;
        height: calc(100px + 20vw);
        max-height: 500px;
        object-fit:cover;
        object-position: top;
    }

    &__titreCarte{
        text-align: left;
        padding: 10px 10px 0 10px;
    }

    &__paraCarte{
        text-align: left;
        margin-bottom: 0;
        padding: 0 10px 10px 10px;
        line-height: 1;
        height: 100px;
    }

    &__filtrer {
        display: flex;
        flex-direction: row;
        justify-content: end;
        background-color: variables.$lapisLazuli;
        color:variables.$white;
        padding: 15px;

        &__sort {
            margin: 0 20px;
        }
    }

    &__more {
        width: 60%;
        justify-self: center;
        text-align: center;
        padding: 10px;
        background-color: variables.$platinum;
        border: 1px solid variables.$raisinBlack;
        transition-duration: 1s;

        &:hover {
            background-color: variables.$raisinBlack;
            color: variables.$white;
        }
    }
}
