@use "variables";
/*Alexandre*/
.temoignages__titre {
    font-size: variables.$mobileFontSizeTitle;
    color: variables.$raisinBlack;
}
.temoignages {
    display: flex;
    justify-content: center;
    width: 100%;
    &__container {
        display: grid;
        grid-template-columns:  1fr 1fr 1fr ;
        gap: 10px;
        width: 100%;
        font-family: variables.$FontText;
        color: variables.$white;
        text-align: center;
    }
    &__titre {
        font-size: variables.$mobileFontSizeTitle;
        color: variables.$raisinBlack;
    }
    &__carte {
        background-color: variables.$lapisLazuli;
        width: 100%;
        padding: 2%;/*
        &--01{
            grid-column-start:2; 
            grid-column-end: 3;
        }
        &--02{
            grid-column-start:3; 
            grid-column-end: 4;
        }
        &--03{
            grid-column-start:4; 
            grid-column-end: 5;
        }*/
    }
    &__image {
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 100%;
        aspect-ratio: 1/1;
        margin-bottom: 10%;
    }
    &__nom {
        font-size: variables.$mobileFontSizeTitle;
        grid-area: nom;
    }
    &__description {
        font-size: variables.$mobileFontSizeText;
        grid-area: description;
    }/*
    &__carte--01{
        grid-column-start:2; 
        grid-column-end: 3;
    }
    &__carte--02{
        grid-column-start:3; 
        grid-column-end: 4;
    }
    &__carte--03{
        grid-column-start:4; 
        grid-column-end: 5;
    }*/
}


