@use "variables";
//changed to variables -> jay

header {
  background-color: #1C5D99;
  display: grid;
  width: 100%;
  margin: 0;
  grid-template-rows: auto auto
}



#nav-menu {  
  font-size: variables.$mobileFontSizeTitle;
}

a {
  font-family: variables.$FontText;
}

// Jay & Ian
.navbar {
  display: grid;
  grid-template-areas: "menu menu menu logo"
                        "title title search search"
                        "title title search search";
  margin: 0 10px;
  gap: 5px;
  padding: 20px;
  
  &__titre {
    grid-area: title;
    height: 100%;
    color: variables.$white;
    margin: 0;
  }



  &__links {
    grid-area: search;
    align-self : start ;
    justify-self : start ;
  }

  &__search {
  height: 50%;
  width: 100%;
  background-color: variables.$steelBlue;
  color: variables.$raisinBlack;
  font-weight: 500;
  border: none;

    &::placeholder {
      color: variables.$raisinBlack;
      font-weight: 500;
    }
  }


  &__button {
      grid-area: button;
      margin:0 0 5px auto;
      padding: 0.5% 1.5%;
      border: 3px solid variables.$white;
      color: variables.$raisinBlack;
      font-size: variables.$mobileFontSizeText;
      border-radius: 5px;
      float: right;
  }

  &__logo {
    grid-area: logo;
    font-family: variables.$FontLogo;
    font-size: variables.$mobileFontSizeLogo;
    color: variables.$white;
   text-align: right;
   width: fit-content;
   height: 100%;
  }

  &__burger {
    grid-area: menu;
  }

  &__english {
    display: none;
    font-family: variables.$FontText;
    font-size: variables.$mobileFontSizeText;
    color: variables.$white;
    margin: 0;
    text-align: right;
  }

  &__joindre {
    font-family: variables.$FontText;
    font-size: variables.$mobileFontSizeText;
    color: variables.$white;
    margin: 0;
    text-align: right;
    display: none;
  }


}

.projet {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: variables.$steelBlue;
  gap: 5px;

  &__texte {
    font-size: variables.$mobileFontSizeText;
    margin: 10px 0;
    color: variables.$white;
    padding: 0 20px;
    text-align: left;
    align-self: center;
  }

  &__OriginalSite {
    font-size: variables.$mobileFontSizeText;
    height: 36px;
    margin: 10px 0;
    width: 50%;
    float: left;
    border:none;
  }

  &__ClosePopUp {
    background-color: variables.$lapisLazuli;
    color: variables.$white;
    font-size: variables.$mobileFontSizeText;
    height: 36px;
    margin: 10px 0;
    width: 20%;
    border:none;
  }
}

