@use "variables";

.savior {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__hero {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color:variables.$silver;
        height: 6vh;
        width: 100%;
    }

    &__icon {
        height: 6vh;
        width: 100px;
        background-color: variables.$lapisLazuli;
        display: flex;
        justify-content: center;

        img {
            height: 100%;
            padding: 10px;
        }
    }

    &__title {
        padding: 10px;
    }

    &__image {
        width: 100%;
        border: 2px solid variables.$raisinBlack;
    }

    &__date {
        margin: 10px 0;
    }
}

.linkInTime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 0 0;
    height: fit-content;

    &__ariane {
        a {
            color: variables.$steelBlue;
            text-decoration: none;
        }
    }
}

.nextPre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}

.content {
    &__cat {
        border: 1px solid variables.$raisinBlack;
        border-radius: 5px;
        width: fit-content;
        padding: 3px;
        align-self: self-start;
    }

    &__text {
        border-top: 2px solid variables.$raisinBlack;
        border-bottom: 2px solid variables.$raisinBlack;
    }
}

.nextNews {
    position: relative;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    margin-top: 10px;

    &__fade {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        background-image: linear-gradient(rgba(variables.$white, 0) 40%, rgba(variables.$white, 1) 85%); 
        text-align: center;

    }

    &__link {
        position: absolute;
        top: 50%;
        transform: rotateZ(90deg) scale(2) scaleY(1.5);
        text-decoration: none;
        color: variables.$raisinBlack;
        animation-name: upAndDown;
        animation-timing-function:ease-in-out;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

#manif {
    background-color: rgba(#da6f6f, 0.5);
}

#HLM {
    background-color: rgba(#6fdac3, 0.5);
}

@keyframes upAndDown {
    0% {top: 50%;}
    50% {top: 55%;}
    100% {top: 50%;}
}