@use "variables";
// Alexandre
.services {
    margin: 20px auto 20px auto; //jay-ish
    width: 100%;
    max-width: 1400px;
    height: 120%;
    &__titre {
        font-size: variables.$mobileFontSizeTitle;
        font-family: variables.$FontText;
    }
    &__container {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 10px;
        font-size: variables.$mobileFontSizeText;
        font-family: variables.$FontText;
        color: variables.$white;
        text-align: center;
    }
    &__carte {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr 1fr;
        background-color: variables.$lapisLazuli;
        border: solid 5px variables.$raisinBlack;
        row-gap: 5px;
    }
    &__images {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &__nom, .services__texte {
        padding: 1%;
        color: variables.$white;
    }
    #service1 {
        background-image: url("../../../sources/medias/banniere.png");
    }
    #service2 {
        background-image: url("../../../sources/medias/hlm saguenay.png");
    }
    #service3 {
        background-image: url("../../../sources/medias/service1.jpg");
    }
}