@use "variables";

// Alexandre
hr {
    color: variables.$raisinBlack;
    border: solid 2px variables.$raisinBlack;
    width: 100%;
}

.team {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3%;
    font-family: variables.$FontText;
    &__title {
        font-size: variables.$mobileFontSizeTitle;
    }
    &__members {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 150vh;
    }
}

.card__member {
    border: solid 2px variables.$raisinBlack;
    border-radius: 10px;
    height: 24%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 2%;
    &__image {
        height: 70%;
        border-radius: 10px 10px 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        &--robert {
            background-image: url("../../../sources/medias/robertPilon.jpg");
        }
        &--elisabeth {
            background-image: url("../../../sources/medias/elisabethPham.jpg");
            background-position: 0% 50%;
        }
        &--patricia {
            background-image: url("../../../sources/medias/patriciaViannay.jpg");
            background-position: 0% 20%;
        }
        &--anik {
            background-image: url("../../../sources/medias/anikLeroux.jpg");
            background-position: 0% 20%;
        }
    }
    &__description {
        padding: 3%;
        text-align: center;
        font-size: variables.$mobileFontSizeTitle;;
        a {
            font-size: variables.$mobileFontSizeTitle;;
        }
    }
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    &__hidden {
        display: none;
    }
    &__member {
        background-color: variables.$lapisLazuli;
        width: 70%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 10px 5px 5px variables.$raisinBlack;
    }
    &__image {
        object-fit: contain;
        width: 60%;
    }
    &__text {
        font-size: variables.$mobileFontSizeText;
        font-family: variables.$FontText;
    }
}