@use "partials-scss/variables";
@use "partials-scss/footer";
@use "partials-scss/navigationBar";
@use "partials-scss/serviceHUB";
@use "partials-scss/membre";
@use "partials-scss/nouvelle";
@use "partials-scss/hero";
@use "partials-scss/services";
@use "partials-scss/cartesTemoignage";
@use "partials-scss/team";
@use "partials-scss/uniqueService";
@use "partials-scss/pageNouvelle";
@use "partials-scss/about";
@use "partials-scss/allNews";

@use "partials-scss/error";

@use "partials-scss/mediaQuery"; //has to be the last one so it doesnt get over written

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: variables.$FontText;
}

.body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 5%;
    max-width: 1400px;
    margin: 0 auto;
    overflow-x: hidden;
}

/*fix navbar*/
.navbar-expand-md {
    flex-wrap: wrap; 
    justify-content: center; 
}

a {
    color: variables.$steelBlue;

    &:hover {
        color: variables.$silver;
    }
}