@font-face {
  font-family: "Impact";
  src: url(./sources/assets/fonts/impact.ttf) format("truetype");
}
@font-face {
  font-family: "Metrophobic";
  src: url(./sources/assets/fonts/Metrophobic-Regular.ttf) format("truetype");
}
.footer {
  background-color: #1C5D99;
  width: 100%;
  display: grid;
  color: #fff;
  font-family: "Metrophobic";
  font-size: 10px;
  grid-template-areas: "pages" "pages" "pages" "coordonnees" "coordonnees" "coordonnees" "plus" "plus" "plus" "copyright";
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 25px;
  text-align: center;
  padding: 5%;
}
.footer__pages {
  display: grid;
  row-gap: 25px;
  grid-area: pages;
}
.footer__coordonnees {
  display: grid;
  grid-area: coordonnees;
}
.footer__plus {
  display: grid;
  grid-area: plus;
}
.footer__item {
  color: #fff;
  text-decoration: none;
}
.footer__logo {
  font-family: "Impact";
  font-size: 32px;
}
.footer__button {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: solid 4px #fff;
  max-width: 60%;
  border-radius: 3px;
  justify-self: center;
  padding: 2% 10%;
}
.footer__copyright {
  grid-column: 1/5;
  font-size: 8px;
  grid-area: copyright;
}

header {
  background-color: #1C5D99;
  display: grid;
  width: 100vw;
  margin: 0;
  grid-template-rows: auto auto;
}

#nav-menu {
  font-size: 12px;
}

a {
  font-family: "Metrophobic";
}

.navbar {
  display: grid;
  grid-template-areas: "menu menu logo logo" "title title search search" "title title search search";
  margin: 0 10px;
  gap: 5px;
}
.navbar__titre {
  grid-area: title;
  height: 100%;
  color: #fff;
  margin: 0;
}
.navbar__links {
  grid-area: search;
  align-self: start;
  justify-self: start;
}
.navbar__search {
  height: 50%;
  width: 40vw;
  background-color: #5ca3e6;
  color: #1A1423;
  font-weight: 500;
  border: none;
}
.navbar__search::-moz-placeholder {
  color: #1A1423;
  font-weight: 500;
}
.navbar__search::placeholder {
  color: #1A1423;
  font-weight: 500;
}
.navbar__button {
  grid-area: search;
  margin: 0 0 5px auto;
  padding: 0.5% 1.5%;
  border: 3px solid #fff;
  display: block;
  color: #1A1423;
  font-size: 10px;
  border-radius: 5px;
}
.navbar__logo {
  grid-area: logo;
  font-family: "Impact";
  font-size: 32px;
  color: #fff;
  text-align: right;
}
.navbar__burger {
  grid-area: menu;
}
.navbar__english {
  display: none;
  font-family: "Metrophobic";
  font-size: 10px;
  color: #fff;
  margin: 0;
  text-align: right;
}
.navbar__joindre {
  font-family: "Metrophobic";
  font-size: 10px;
  color: #fff;
  margin: 0;
  text-align: right;
  display: none;
}

.projet {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #5180AB;
  gap: 5px;
}
.projet__texte {
  font-size: 10px;
  margin: 10px 0;
  color: #fff;
  padding-left: 20px;
}
.projet__OriginalSite {
  font-size: 10px;
  height: 36px;
  margin: 10px 0;
  width: 50%;
  float: left;
  border: none;
}
.projet__ClosePopUp {
  background-color: #1C5D99;
  color: #fff;
  font-size: 10px;
  height: 36px;
  margin: 10px 0;
  width: 20%;
  border: none;
}

/*Alexandre*/
.membre {
  display: flex;
  justify-content: center;
}
.membre_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 3px #1A1423;
  font-family: "Metrophobic";
  padding: 4%;
  width: 100%;
  height: 30%;
}
.membre__titre {
  font-size: 12px;
}
.membre__description {
  font-size: 10px;
}
.membre__bouton {
  font-size: 12px;
  padding: 1%;
}

/*
.nouvelles { 
    width: 100%;
        &__boxtitre{
            display: flex;
            justify-content: space-between;
        }
        &__titre{
            display: inline-block;
            align-self: self-end;
            margin: 0;
        }
        &__lien{
            display: inline-block;
            color: variables.$steelBlue;
            text-decoration: none;
            align-self: self-end;

        }
        &__grid-container{
            display: grid;
            grid-template-rows: repeat(auto-fill, 1fr);
            gap: 20px;
            background-color:variables.$silver;
            padding: 20px;

        }
        &__Item {
            background-color: variables.$platinum;

        }
        &__img {
            text-align: center;
            background-size: cover;
            width: 100%;
            border: 1px solid variables.$raisinBlack;
            height: 60%;
        }
        &__titreCarte{
            text-align: center;
        }
        &__paraCarte{
            text-align: center;
        }
        &__filtrer {
            background-color: variables.$lapisLazuli;
            color:variables.$white;
            padding: 15px;
        }
}*/
.nouvelles {
  width: 100%;
}
.nouvelles__boxtitre {
  display: flex;
  justify-content: space-between;
}
.nouvelles__titre {
  display: inline-block;
  align-self: self-end;
  margin: 0;
}
.nouvelles__lien {
  display: inline-block;
  color: #5180AB;
  text-decoration: none;
  align-self: self-end;
}
.nouvelles__grid-container {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 20px;
  background-color: #C7C7C7;
  padding: 20px;
}
.nouvelles__Item {
  background-color: #D9D9D9;
  display: grid;
  grid-template-areas: "image image titre titre" "image image content content ";
}
.nouvelles__img {
  text-align: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border: 1px solid #1A1423;
  grid-area: image;
}
.nouvelles__titreCarte {
  text-align: center;
  grid-area: titre;
}
.nouvelles__paraCarte {
  text-align: center;
  grid-area: content;
}
.nouvelles__filtrer {
  background-color: #1C5D99;
  color: #fff;
  padding: 15px;
}

.hero {
  width: 100%;
  height: 50vw;
  max-height: 300px;
  overflow: hidden;
  border: 1px solid #1A1423;
  margin: 20px auto;
}
.hero__swipper {
  height: 100%;
}
.hero__nouvelles {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.hero__nouvelles img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.hero__nouvelles--1 {
  width: 100%;
  height: 100%;
}
.hero__nouvelles--2 {
  width: 100%;
  height: 100%;
}
.hero__nouvelles--3 {
  width: 100%;
  height: 100%;
}
.hero__arrowRight, .hero__arrowLeft {
  color: #1A1423;
}

.swiper-pagination-bullet-active {
  background: #1A1423;
}

.services {
  margin: 10vh auto 0 auto;
  width: 100%;
  max-width: 1400px;
  height: 120%;
}
.services__titre {
  font-size: 12px;
  font-family: "Metrophobic";
}
.services__container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-size: 10px;
  font-family: "Metrophobic";
  color: #fff;
  text-align: center;
}
.services__carte {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 1fr;
  background-color: #1C5D99;
  border: solid 5px #1A1423;
  row-gap: 5px;
  transform: scale(1);
  transform-origin: 50% 125%;
  transition: 1s;
}
.services__carte--active {
  transform: scale(1.2);
  z-index: 1;
}
.services__images {
  background-repeat: no-repeat;
  background-size: cover;
}
.services #service1 {
  background-image: url("../sources/medias/Ass. chateauguay.jpg");
}
.services #service2 {
  background-image: url("../sources/medias/Ass. chateauguay.jpg");
}
.services #service3 {
  background-image: url("../sources/medias/Ass. chateauguay.jpg");
}

/*Alexandre*/
.temoignages {
  display: flex;
  justify-content: center;
  width: 100%;
  /*
  &__carte--01{
      grid-column-start:2; 
      grid-column-end: 3;
  }
  &__carte--02{
      grid-column-start:3; 
      grid-column-end: 4;
  }
  &__carte--03{
      grid-column-start:4; 
      grid-column-end: 5;
  }*/
}
.temoignages__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
  font-family: "Metrophobic";
  color: #fff;
  text-align: center;
}
.temoignages__titre {
  font-size: 12px;
  color: #1A1423;
}
.temoignages__carte {
  background-color: #1C5D99;
  width: 100%;
  padding: 2%; /*
&--01{
    grid-column-start:2; 
    grid-column-end: 3;
}
&--02{
    grid-column-start:3; 
    grid-column-end: 4;
}
&--03{
    grid-column-start:4; 
    grid-column-end: 5;
}*/
}
.temoignages__image {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 10%;
}
.temoignages__nom {
  font-size: 12px;
  grid-area: nom;
}
.temoignages__description {
  font-size: 10px;
  grid-area: description;
}

.body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 5%;
}

@media screen and (min-width: 768px) {
  a, p, button {
    font-size: 12px;
  }
  .projet {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
  .projet__ButtonContainer {
    text-align: left;
  }
  .projet__texte {
    font-size: 12px;
    margin: 10px 0;
    color: #fff;
    text-align: right;
    margin: auto 0;
  }
  .projet__OriginalSite {
    font-size: 12px;
    height: 36px;
    margin: 10px 0;
    width: 50%;
    max-width: 150px;
    float: left;
    border: none;
  }
  .projet__ClosePopUp {
    background-color: #1C5D99;
    color: #fff;
    font-size: 12px;
    height: 36px;
    margin: 10px 0;
    width: 20%;
    max-width: 60px;
    border: none;
  }
  .navbar {
    display: grid;
    grid-template-areas: "logo logo logo search search search" "title title title search search search" "links links links links links links";
    margin: 0 auto;
    gap: 10px;
  }
  .navbar__titre {
    grid-area: title;
    height: 100%;
    color: #fff;
    margin: 0;
    max-width: 70%;
    max-height: 200px;
    text-align: left;
    font-size: 12px;
  }
  .navbar__links {
    grid-area: search;
  }
  .navbar__logo {
    grid-area: logo;
    font-family: "Impact";
    font-size: 40px;
    color: #fff;
    text-align: left;
  }
  .navbar__button {
    grid-area: search;
    margin: 5px 0 10px auto;
    padding: 1% 2%;
    border: 3px solid #fff;
    display: block;
    color: #1A1423;
    font-size: 12px;
    border-radius: 5px;
  }
  .navbar__search {
    height: 50%;
    width: 40vw;
    height: 30px;
    background-color: #5180AB;
    border: none;
  }
  .navbar__burger {
    grid-area: menu;
    display: none;
  }
  .navbar__collapse {
    grid-area: links;
    width: 100%;
  }
  .navbar__accueil, .navbar__nouvelles, .navbar__services, .navbar__equipes, .navbar__FAQ, .navbar__propos {
    color: #fff;
    font-size: 12px;
    font-family: "Metrophobic";
  }
  .navbar__english {
    display: block;
    font-size: 12px;
  }
  .navbar__joindre {
    display: block;
    font-size: 12px;
  }
  .hero {
    max-height: 404px;
  }
  .nouvelles {
    width: 100%;
  }
  .nouvelles__boxtitre {
    display: flex;
    justify-content: space-between;
  }
  .nouvelles__titre {
    display: inline-block;
    align-self: self-end;
    margin: 0;
  }
  .nouvelles__lien {
    display: inline-block;
    color: #5180AB;
    text-decoration: none;
    align-self: self-end;
  }
  .nouvelles__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 20px;
    background-color: #C7C7C7;
    padding: 20px;
  }
  .nouvelles__Item {
    background-color: #D9D9D9;
  }
  .nouvelles__img {
    text-align: center;
    background-size: contain;
    width: 100%;
    border: 1px solid #1A1423;
    height: 50%;
  }
  .nouvelles__titreCarte {
    text-align: center;
  }
  .nouvelles__paraCarte {
    text-align: center;
  }
  .nouvelles__filtrer {
    background-color: #1C5D99;
    color: #fff;
    padding: 15px;
  }
  .services__titre {
    font-size: 36px;
  }
  .services__container {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .services__carte {
    grid-template-rows: 8fr 1fr 1fr;
    row-gap: 10px;
    font-size: 12px;
  }
  .services__carte--active {
    transform: scale(1.1);
  }
  .footer {
    grid-template-areas: "pages coordonnees plus" "pages coordonnees plus" "pages coordonnees plus" "pages coordonnees plus" "copyright copyright copyright";
    row-gap: 50px;
  }
}
@media screen and (min-width: 1400px) {
  a, p, button {
    font-size: 24px;
  }
  .projet {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .projet__ButtonContainer {
    text-align: left;
  }
  .projet__texte {
    font-size: 24px;
    margin: 10px 0;
    color: #fff;
  }
  .projet__OriginalSite {
    font-size: 24px;
    height: 36px;
    margin: 10px 0;
    width: 50%;
    float: left;
    border: none;
  }
  .projet__ClosePopUp {
    background-color: #1C5D99;
    color: #fff;
    font-size: 24px;
    height: 36px;
    margin: 10px 0;
    width: 20%;
    border: none;
  }
  header {
    display: block;
    text-align: center;
  }
  .navbar {
    display: grid;
    grid-template-areas: "logo logo logo search search search" "title title title search search search" "links links links links links links";
    margin: 0;
    gap: 10px;
  }
  .navbar__titre {
    grid-area: title;
    height: 100%;
    color: #fff;
    margin: 0;
    max-width: 60%;
    text-align: left;
    font-size: 24px;
  }
  .navbar__links {
    grid-area: search;
  }
  .navbar__logo {
    grid-area: logo;
    font-family: "Impact";
    font-size: 60px;
    color: #fff;
    text-align: left;
  }
  .navbar__button {
    grid-area: search;
    margin: 5px 0 10px auto;
    padding: 1% 2%;
    border: 3px solid #fff;
    display: block;
    color: #1A1423;
    font-size: 24px;
    border-radius: 5px;
  }
  .navbar__search {
    height: 50%;
    width: 40vw;
    max-width: 500px;
    height: 30px;
    background-color: #5180AB;
    border: none;
  }
  .navbar__burger {
    grid-area: menu;
    display: none;
  }
  .navbar__collapse {
    grid-area: links;
    width: 100%;
  }
  .navbar__accueil, .navbar__nouvelles, .navbar__services, .navbar__equipes, .navbar__FAQ, .navbar__propos {
    color: #fff;
    font-size: 24px;
    font-family: "Metrophobic";
  }
  .navbar__english {
    display: block;
    font-size: 24px;
  }
  .navbar__joindre {
    display: block;
    font-size: 24px;
  }
  .hero {
    max-height: 565px;
  }
  .nouvelles {
    width: 100%;
  }
  .nouvelles__boxtitre {
    display: flex;
    justify-content: space-between;
  }
  .nouvelles__titre {
    display: inline-block;
    align-self: self-end;
    margin: 0;
  }
  .nouvelles__lien {
    display: inline-block;
    color: #5180AB;
    text-decoration: none;
    align-self: self-end;
  }
  .nouvelles__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 20px;
    background-color: #C7C7C7;
    padding: 20px;
  }
  .nouvelles__Item {
    background-color: #D9D9D9;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .nouvelles__img {
    text-align: center;
    background-size: cover;
    width: 100%;
    border: 1px solid #1A1423;
    height: 60%;
    grid-area: image;
  }
  .nouvelles__titreCarte {
    text-align: center;
    padding-top: 10px;
    grid-area: titre;
  }
  .nouvelles__paraCarte {
    text-align: center;
    grid-area: content;
  }
  .nouvelles__filtrer {
    background-color: #1C5D99;
    color: #fff;
    padding: 15px;
  }
  .services__titre {
    font-size: 40px;
  }
  .services__container {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .services__carte {
    grid-template-rows: 3fr 1fr 1fr;
    row-gap: 10px;
    font-size: 24px;
  }
  .services__carte--active {
    transform: scale(1.05);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*fix navbar*/
.navbar-expand-md {
  flex-wrap: wrap;
  justify-content: center;
}

.body {
  max-width: 1400px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */