@font-face {
  font-family: "Impact";
  src: url(../../../sources/assets/fonts/impact.ttf) format("truetype");
}
@font-face {
  font-family: "Metrophobic";
  src: url(../../../sources/assets/fonts/Metrophobic-Regular.ttf) format("truetype");
}
.footer {
  background-color: #1C5D99;
  width: 100%;
  display: grid;
  color: #fff;
  font-family: "Metrophobic";
  font-size: 15px;
  grid-template-areas: "pages" "pages" "pages" "coordonnees" "coordonnees" "coordonnees" "plus" "plus" "plus" "copyright";
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 25px;
  text-align: center;
  padding: 5%;
}
.footer__pages {
  display: grid;
  row-gap: 25px;
  grid-area: pages;
}
.footer__coordonnees {
  display: grid;
  grid-area: coordonnees;
}
.footer__plus {
  display: grid;
  grid-area: plus;
}
.footer__item {
  color: #fff;
  text-decoration: none;
}
.footer__logo {
  font-family: "Impact";
  font-size: 32px;
}
.footer__button {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: solid 4px #fff;
  max-width: 60%;
  border-radius: 3px;
  justify-self: center;
  padding: 2% 10%;
  display: none;
}
.footer__copyright {
  grid-column: 1/5;
  font-size: 8px;
  grid-area: copyright;
}

header {
  background-color: #1C5D99;
  display: grid;
  width: 100vw;
  margin: 0;
  grid-template-rows: auto auto;
}

#nav-menu {
  font-size: 20px;
}

a {
  font-family: "Metrophobic";
}

.navbar {
  display: grid;
  grid-template-areas: "menu menu logo logo" "title title search search" "title title search search";
  margin: 0 10px;
  gap: 5px;
}
.navbar__titre {
  grid-area: title;
  height: 100%;
  color: #fff;
  margin: 0;
}
.navbar__links {
  grid-area: search;
  align-self: start;
  justify-self: start;
}
.navbar__search {
  height: 50%;
  width: 40vw;
  background-color: #5ca3e6;
  color: #1A1423;
  font-weight: 500;
  border: none;
}
.navbar__search::-moz-placeholder {
  color: #1A1423;
  font-weight: 500;
}
.navbar__search::placeholder {
  color: #1A1423;
  font-weight: 500;
}
.navbar__button {
  grid-area: search;
  margin: 0 0 5px auto;
  padding: 0.5% 1.5%;
  border: 3px solid #fff;
  display: none;
  color: #1A1423;
  font-size: 15px;
  border-radius: 5px;
}
.navbar__logo {
  grid-area: logo;
  font-family: "Impact";
  font-size: 32px;
  color: #fff;
  text-align: right;
}
.navbar__burger {
  grid-area: menu;
}
.navbar__english {
  display: none;
  font-family: "Metrophobic";
  font-size: 15px;
  color: #fff;
  margin: 0;
  text-align: right;
}
.navbar__joindre {
  font-family: "Metrophobic";
  font-size: 15px;
  color: #fff;
  margin: 0;
  text-align: right;
  display: none;
}

.projet {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #5180AB;
  gap: 5px;
}
.projet__texte {
  font-size: 15px;
  margin: 10px 0;
  color: #fff;
  padding-left: 20px;
  text-align: center;
  align-self: center;
}
.projet__OriginalSite {
  font-size: 15px;
  height: 36px;
  margin: 10px 0;
  width: 50%;
  float: left;
  border: none;
}
.projet__ClosePopUp {
  background-color: #1C5D99;
  color: #fff;
  font-size: 15px;
  height: 36px;
  margin: 10px 0;
  width: 20%;
  border: none;
}

/*
.nouvelles { 
    width: 100%;
        &__boxtitre{
            display: flex;
            justify-content: space-between;
        }
        &__titre{
            display: inline-block;
            align-self: self-end;
            margin: 0;
        }
        &__lien{
            display: inline-block;
            color: variables.$steelBlue;
            text-decoration: none;
            align-self: self-end;

        }
        &__grid-container{
            display: grid;
            grid-template-rows: repeat(auto-fill, 1fr);
            gap: 20px;
            background-color:variables.$silver;
            padding: 20px;

        }
        &__Item {
            background-color: variables.$platinum;

        }
        &__img {
            text-align: center;
            background-size: cover;
            width: 100%;
            border: 1px solid variables.$raisinBlack;
            height: 60%;
        }
        &__titreCarte{
            text-align: center;
        }
        &__paraCarte{
            text-align: center;
        }
        &__filtrer {
            background-color: variables.$lapisLazuli;
            color:variables.$white;
            padding: 15px;
        }
}*/
.serviceHub {
  width: 100%;
}
.serviceHub__boxtitre {
  display: flex;
  justify-content: space-between;
}
.serviceHub__titre {
  display: inline-block;
  align-self: self-end;
  margin: 0;
}
.serviceHub__lien {
  display: inline-block;
  color: #5180AB;
  text-decoration: none;
  align-self: self-end;
}
.serviceHub__grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 20px;
  background-color: #C7C7C7;
  padding: 20px;
}
.serviceHub__Item {
  background-color: #D9D9D9;
}
.serviceHub__img {
  text-align: center;
  background-size: contain;
  width: 100%;
  border: 1px solid #1A1423;
  height: 50%;
}
.serviceHub__titreCarte {
  text-align: center;
}
.serviceHub__paraCarte {
  text-align: center;
}
.serviceHub__filtrer {
  background-color: #1C5D99;
  color: #fff;
  padding: 15px;
}

/*Alexandre*/
.membre {
  display: flex;
  justify-content: center;
}
.membre_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 3px #1A1423;
  font-family: "Metrophobic";
  padding: 4%;
  width: 100%;
  height: 30%;
}
.membre__titre {
  font-size: 20px;
}
.membre__description {
  font-size: 15px;
}
.membre__bouton {
  font-size: 20px;
  padding: 1%;
}

/*
.nouvelles { 
    width: 100%;
        &__boxtitre{
            display: flex;
            justify-content: space-between;
        }
        &__titre{
            display: inline-block;
            align-self: self-end;
            margin: 0;
        }
        &__lien{
            display: inline-block;
            color: variables.$steelBlue;
            text-decoration: none;
            align-self: self-end;

        }
        &__grid-container{
            display: grid;
            grid-template-rows: repeat(auto-fill, 1fr);
            gap: 20px;
            background-color:variables.$silver;
            padding: 20px;

        }
        &__Item {
            background-color: variables.$platinum;

        }
        &__img {
            text-align: center;
            background-size: cover;
            width: 100%;
            border: 1px solid variables.$raisinBlack;
            height: 60%;
        }
        &__titreCarte{
            text-align: center;
        }
        &__paraCarte{
            text-align: center;
        }
        &__filtrer {
            background-color: variables.$lapisLazuli;
            color:variables.$white;
            padding: 15px;
        }
}*/
.nouvelles {
  width: 100%;
  margin: 20px 0;
}
.nouvelles__boxtitre {
  display: flex;
  justify-content: space-between;
}
.nouvelles__titre {
  display: inline-block;
  align-self: self-end;
  margin: 0 0 10px 0;
}
.nouvelles__lien {
  display: inline-block;
  color: #5180AB;
  text-decoration: none;
  align-self: self-end;
}
.nouvelles__grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 20px;
  background-color: #C7C7C7;
  padding: 20px;
}
.nouvelles__Item {
  background-color: #D9D9D9;
  height: -moz-fit-content;
  height: fit-content;
}
.nouvelles__img {
  text-align: center;
  background-size: contain;
  width: 100%;
  border: 1px solid #1A1423;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.nouvelles__titreCarte {
  text-align: center;
}
.nouvelles__paraCarte {
  text-align: center;
}
.nouvelles__filtrer {
  background-color: #1C5D99;
  color: #fff;
  padding: 15px;
}
.nouvelles__more {
  width: 60%;
  justify-self: center;
  text-align: center;
  padding: 10px;
  background-color: #D9D9D9;
  border: 1px solid #1A1423;
  transition-duration: 1s;
}
.nouvelles__more:hover {
  background-color: #1A1423;
  color: #fff;
}

/*
.nouvelles {
    width: 100%;
        &__boxtitre{
            display: flex;
            justify-content: space-between;
        }
        &__titre{
            display: inline-block;
            align-self: self-end;
            margin: 0;
        }
        &__lien{
            display: inline-block;
            color: variables.$steelBlue;
            text-decoration: none;
            align-self: self-end;

        }
        &__grid-container{
            display: grid;
            grid-template-rows: repeat(auto-fill, 1fr);
            gap: 20px;
            background-color:variables.$silver;
            padding: 20px;

        }
        &__Item {
            background-color: variables.$platinum;
            display: grid;
            grid-template-areas: 
            "image image titre titre"
            "image image content content ";
        }
        &__img {
            text-align: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            border: 1px solid variables.$raisinBlack;
            grid-area: image;
        }
        &__titreCarte{
            text-align: center;
            grid-area: titre;
        }
        &__paraCarte{
            text-align: center;
            grid-area: content;
        }
        &__filtrer {
            background-color: variables.$lapisLazuli;
            color:variables.$white;
            padding: 15px;
        }
}
*/
.hero {
  width: 100%;
  height: 50vw;
  max-height: 300px;
  overflow: hidden;
  border: 1px solid #1A1423;
  margin: 20px auto;
}
.hero__swipper {
  height: 100%;
}
.hero__nouvelles {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.hero__nouvelles img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.hero__nouvelles--1 {
  width: 100%;
  height: 100%;
}
.hero__nouvelles--2 {
  width: 100%;
  height: 100%;
}
.hero__nouvelles--3 {
  width: 100%;
  height: 100%;
}
.hero__arrowRight, .hero__arrowLeft {
  color: #1A1423;
}

.swiper-pagination-bullet-active {
  background: #1A1423;
}

.services {
  margin: 10vh auto 0 auto;
  width: 100%;
  max-width: 1400px;
  height: 120%;
}
.services__titre {
  font-size: 20px;
  font-family: "Metrophobic";
}
.services__container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-size: 15px;
  font-family: "Metrophobic";
  color: #fff;
  text-align: center;
}
.services__carte {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 1fr;
  background-color: #1C5D99;
  border: solid 5px #1A1423;
  row-gap: 5px;
}
.services__images {
  background-repeat: no-repeat;
  background-size: cover;
}
.services__nom, .services .services__texte {
  padding: 1%;
  color: #fff;
}
.services #service1 {
  background-image: url("../../../sources/medias/Ass. chateauguay.jpg");
}
.services #service2 {
  background-image: url("../../../sources/medias/Ass. chateauguay.jpg");
}
.services #service3 {
  background-image: url("../../../sources/medias/Ass. chateauguay.jpg");
}

/*Alexandre*/
.temoignages__titre {
  font-size: 20px;
  color: #1A1423;
}

.temoignages {
  display: flex;
  justify-content: center;
  width: 100%;
  /*
  &__carte--01{
      grid-column-start:2; 
      grid-column-end: 3;
  }
  &__carte--02{
      grid-column-start:3; 
      grid-column-end: 4;
  }
  &__carte--03{
      grid-column-start:4; 
      grid-column-end: 5;
  }*/
}
.temoignages__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
  font-family: "Metrophobic";
  color: #fff;
  text-align: center;
}
.temoignages__titre {
  font-size: 20px;
  color: #1A1423;
}
.temoignages__carte {
  background-color: #1C5D99;
  width: 100%;
  padding: 2%; /*
&--01{
    grid-column-start:2; 
    grid-column-end: 3;
}
&--02{
    grid-column-start:3; 
    grid-column-end: 4;
}
&--03{
    grid-column-start:4; 
    grid-column-end: 5;
}*/
}
.temoignages__image {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 10%;
}
.temoignages__nom {
  font-size: 20px;
  grid-area: nom;
}
.temoignages__description {
  font-size: 15px;
  grid-area: description;
}

hr {
  color: #1A1423;
  border: solid 2px #1A1423;
  width: 100%;
}

.team {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3%;
  font-family: "Metrophobic";
}
.team__title {
  font-size: 20px;
}
.team__members {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 150vh;
}

.card__member {
  border: solid 2px #1A1423;
  border-radius: 10px;
  height: 24%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 2%;
}
.card__member__image {
  height: 70%;
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.card__member__image--robert {
  background-image: url("../../../sources/medias/robertPilon.jpg");
}
.card__member__image--elisabeth {
  background-image: url("../../../sources/medias/elisabethPham.jpg");
  background-position: 0% 50%;
}
.card__member__image--patricia {
  background-image: url("../../../sources/medias/patriciaViannay.jpg");
  background-position: 0% 20%;
}
.card__member__image--anik {
  background-image: url("../../../sources/medias/anikLeroux.jpg");
  background-position: 0% 20%;
}
.card__member__description {
  padding: 3%;
  text-align: center;
  font-size: 20px;
}
.card__member__description a {
  font-size: 20px;
}

.service__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.service__container__img {
  width: 100%;
}

.nextService {
  position: relative;
  width: 100%;
  max-height: 300px;
  overflow: hidden;
}
.nextService__fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 40%, white 85%);
  text-align: center;
}

.savior {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.savior__image {
  width: 100%;
}
.savior__date {
  margin: 10px 0;
}
.savior__cat {
  border: 1px solid #1A1423;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px;
  align-self: self-start;
}

.nextNews {
  position: relative;
  width: 100%;
  max-height: 300px;
  overflow: hidden;
}
.nextNews__fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 40%, white 85%);
  text-align: center;
}
.nextNews__link {
  position: absolute;
  top: 50%;
  transform: rotateZ(90deg) scale(2) scaleY(1.5);
  text-decoration: none;
  color: #1A1423;
  animation-name: upAndDown;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#manif {
  background-color: rgba(218, 111, 111, 0.5);
}

#HLM {
  background-color: rgba(111, 218, 195, 0.5);
}

@keyframes upAndDown {
  0% {
    top: 50%;
  }
  50% {
    top: 55%;
  }
  100% {
    top: 50%;
  }
}
.contenu {
  margin-top: 2%;
}
.contenu__tableau {
  background-color: #D9D9D9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
  border: 1px solid black;
}
.contenu__tableau__item {
  border: 1px solid black;
  padding: 2%;
  gap: 0;
  margin: 0;
}
.contenu__tableau2 {
  background-color: #D9D9D9;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  border: 1px solid black;
}
.contenu__tableau2__item {
  border: 1px solid black;
  padding: 2%;
  gap: 0;
  margin: 0;
}
.contenu__image {
  width: 100%;
}

.imgHistoric img {
  float: right;
}

hr {
  color: black;
  border: 2px solid black;
}

.allNews {
  width: 100%;
  margin: 20px 0;
}
.allNews__boxtitre {
  display: flex;
  justify-content: space-between;
}
.allNews__titre {
  display: inline-block;
  align-self: self-end;
  margin: 0 0 10px 0;
}
.allNews__lien {
  display: inline-block;
  color: #5180AB;
  text-decoration: none;
  align-self: self-end;
}
.allNews__grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 20px;
  background-color: #C7C7C7;
  padding: 20px;
}
.allNews__Item {
  background-color: #D9D9D9;
  height: -moz-fit-content;
  height: fit-content;
}
.allNews__img {
  text-align: center;
  background-size: contain;
  width: 100%;
  border: 1px solid #1A1423;
  height: calc(100px + 20vw);
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.allNews__titreCarte {
  text-align: center;
}
.allNews__paraCarte {
  text-align: center;
}
.allNews__filtrer {
  background-color: #1C5D99;
  color: #fff;
  padding: 15px;
}
.allNews__more {
  width: 60%;
  justify-self: center;
  text-align: center;
  padding: 10px;
  background-color: #D9D9D9;
  border: 1px solid #1A1423;
  transition-duration: 1s;
}
.allNews__more:hover {
  background-color: #1A1423;
  color: #fff;
}

@media screen and (min-width: 768px) {
  a, p, button {
    font-size: 20px;
  }
  .temoignages__titre {
    font-size: 20px;
    color: #1A1423;
  }
  .projet {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
  .projet__ButtonContainer {
    text-align: left;
  }
  .projet__texte {
    font-size: 20px;
    margin: 10px 0;
    color: #fff;
    margin: auto 0;
    align-self: center;
  }
  .projet__OriginalSite {
    font-size: 20px;
    height: 36px;
    margin: 10px 0;
    width: 50%;
    max-width: 150px;
    float: left;
    border: none;
  }
  .projet__ClosePopUp {
    background-color: #1C5D99;
    color: #fff;
    font-size: 20px;
    height: 36px;
    margin: 10px 0;
    width: 20%;
    max-width: 60px;
    border: none;
  }
  .navbar {
    display: grid;
    grid-template-areas: "logo logo logo search search search" "title title title search search search" "links links links links links links";
    margin: 0 auto;
    gap: 10px;
  }
  .navbar__titre {
    grid-area: title;
    height: 100%;
    color: #fff;
    margin: 0;
    max-width: 70%;
    max-height: 200px;
    text-align: left;
    font-size: 20px;
  }
  .navbar__links {
    grid-area: search;
  }
  .navbar__logo {
    grid-area: logo;
    font-family: "Impact";
    font-size: 40px;
    color: #fff;
    text-align: left;
  }
  .navbar__button {
    grid-area: search;
    margin: 5px 0 10px auto;
    padding: 1% 2%;
    border: 3px solid #fff;
    display: block;
    color: #1A1423;
    font-size: 20px;
    border-radius: 5px;
  }
  .navbar__search {
    height: 50%;
    width: 40vw;
    height: 30px;
    background-color: #5180AB;
    border: none;
  }
  .navbar__burger {
    grid-area: menu;
    display: none;
  }
  .navbar__collapse {
    grid-area: links;
    width: 100%;
  }
  .navbar__accueil, .navbar__nouvelles, .navbar__services, .navbar__equipes, .navbar__FAQ, .navbar__propos {
    color: #fff;
    font-size: 20px;
    font-family: "Metrophobic";
  }
  .navbar__english {
    display: block;
    font-size: 20px;
  }
  .navbar__joindre {
    display: block;
    font-size: 20px;
  }
  .hero {
    max-height: 404px;
  }
  .nouvelles {
    width: 100%;
  }
  .nouvelles__boxtitre {
    display: flex;
    justify-content: space-between;
  }
  .nouvelles__titre {
    display: inline-block;
    align-self: self-end;
  }
  .nouvelles__lien {
    display: inline-block;
    color: #5180AB;
    text-decoration: none;
    align-self: self-end;
  }
  .nouvelles__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 20px;
    background-color: #C7C7C7;
    padding: 20px;
  }
  .nouvelles__Item {
    background-color: #D9D9D9;
    height: 100%;
  }
  .nouvelles__img {
    text-align: center;
    background-size: contain;
    width: 100%;
    border: 1px solid #1A1423;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .nouvelles__titreCarte {
    text-align: center;
  }
  .nouvelles__paraCarte {
    text-align: center;
  }
  .nouvelles__filtrer {
    background-color: #1C5D99;
    color: #fff;
    padding: 15px;
  }
  .serviceHub {
    width: 100%;
  }
  .serviceHub__boxtitre {
    display: flex;
    justify-content: space-between;
  }
  .serviceHub__titre {
    display: inline-block;
    align-self: self-end;
    margin: 0;
  }
  .serviceHub__lien {
    display: inline-block;
    color: #5180AB;
    text-decoration: none;
    align-self: self-end;
  }
  .serviceHub__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 20px;
    background-color: #C7C7C7;
    padding: 20px;
  }
  .serviceHub__Item {
    background-color: #D9D9D9;
  }
  .serviceHub__img {
    text-align: center;
    background-size: contain;
    width: 100%;
    border: 1px solid #1A1423;
    height: 50%;
  }
  .serviceHub__titreCarte {
    text-align: center;
  }
  .serviceHub__paraCarte {
    text-align: center;
  }
  .serviceHub__filtrer {
    background-color: #1C5D99;
    color: #fff;
    padding: 15px;
  }
  .team {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3%;
    margin-bottom: 0;
    font-family: "Metrophobic";
  }
  .team__title {
    font-size: 36px;
  }
  .team__members {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  .card__member {
    width: 48%;
    height: 48%;
  }
  .card__member__description {
    font-size: 20px;
  }
  .card__member__description a {
    font-size: 20px;
  }
  .services__titre {
    font-size: 36px;
  }
  .services__container {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .services__carte {
    grid-template-rows: 8fr 1fr 1fr;
    row-gap: 10px;
    font-size: 20px;
  }
  .services__carte--active {
    transform: scale(1.1);
  }
  .footer {
    grid-template-areas: "pages coordonnees plus" "pages coordonnees plus" "pages coordonnees plus" "pages coordonnees plus" "copyright copyright copyright";
    row-gap: 50px;
  }
}
@media screen and (min-width: 1400px) {
  a, p, button {
    font-size: 24px;
  }
  .temoignages__titre {
    font-size: 40px;
    color: #1A1423;
  }
  .projet {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .projet__ButtonContainer {
    text-align: left;
  }
  .projet__texte {
    font-size: 24px;
    margin: 10px 0;
    color: #fff;
  }
  .projet__OriginalSite {
    font-size: 24px;
    height: 36px;
    margin: 10px 0;
    width: 50%;
    float: left;
    border: none;
  }
  .projet__ClosePopUp {
    background-color: #1C5D99;
    color: #fff;
    font-size: 24px;
    height: 36px;
    margin: 10px 0;
    width: 20%;
    border: none;
  }
  header {
    display: block;
    text-align: center;
  }
  .navbar {
    display: grid;
    grid-template-areas: "logo logo logo search search search" "title title title search search search" "links links links links links links";
    margin: 0;
    gap: 10px;
  }
  .navbar__titre {
    grid-area: title;
    height: 100%;
    color: #fff;
    margin: 0;
    max-width: 60%;
    text-align: left;
    font-size: 24px;
  }
  .navbar__links {
    grid-area: search;
  }
  .navbar__logo {
    grid-area: logo;
    font-family: "Impact";
    font-size: 60px;
    color: #fff;
    text-align: left;
  }
  .navbar__button {
    grid-area: search;
    margin: 5px 0 10px auto;
    padding: 1% 2%;
    border: 3px solid #fff;
    display: block;
    color: #1A1423;
    font-size: 24px;
    border-radius: 5px;
  }
  .navbar__search {
    height: 50%;
    width: 40vw;
    max-width: 500px;
    height: 30px;
    background-color: #5180AB;
    border: none;
  }
  .navbar__burger {
    grid-area: menu;
    display: none;
  }
  .navbar__collapse {
    grid-area: links;
    width: 100%;
  }
  .navbar__accueil, .navbar__nouvelles, .navbar__services, .navbar__equipes, .navbar__FAQ, .navbar__propos {
    color: #fff;
    font-size: 24px;
    font-family: "Metrophobic";
  }
  .navbar__english {
    display: block;
    font-size: 24px;
  }
  .navbar__joindre {
    display: block;
    font-size: 24px;
  }
  .hero {
    max-height: 565px;
  }
  .nouvelles {
    width: 100%;
  }
  .nouvelles__boxtitre {
    display: flex;
    justify-content: space-between;
  }
  .nouvelles__titre {
    display: inline-block;
    align-self: self-end;
  }
  .nouvelles__lien {
    display: inline-block;
    color: #5180AB;
    text-decoration: none;
    align-self: self-end;
  }
  .nouvelles__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 20px;
    background-color: #C7C7C7;
    padding: 20px;
  }
  .nouvelles__Item {
    background-color: #D9D9D9;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .nouvelles__img {
    text-align: center;
    background-size: cover;
    width: 100%;
    border: 1px solid #1A1423;
    height: 300px;
    grid-area: image;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .nouvelles__titreCarte {
    text-align: center;
    padding-top: 10px;
    grid-area: titre;
  }
  .nouvelles__paraCarte {
    text-align: center;
    grid-area: content;
  }
  .nouvelles__filtrer {
    background-color: #1C5D99;
    color: #fff;
    padding: 15px;
  }
  .serviceHub {
    width: 100%;
  }
  .serviceHub__boxtitre {
    display: flex;
    justify-content: space-between;
  }
  .serviceHub__titre {
    display: inline-block;
    align-self: self-end;
    margin: 0;
  }
  .serviceHub__lien {
    display: inline-block;
    color: #5180AB;
    text-decoration: none;
    align-self: self-end;
  }
  .serviceHub__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 20px;
    background-color: #C7C7C7;
    padding: 20px;
  }
  .serviceHub__Item {
    background-color: #D9D9D9;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .serviceHub__img {
    text-align: center;
    background-size: cover;
    width: 100%;
    border: 1px solid #1A1423;
    height: 60%;
    grid-area: image;
  }
  .serviceHub__titreCarte {
    text-align: center;
    padding-top: 10px;
    grid-area: titre;
  }
  .serviceHub__paraCarte {
    text-align: center;
    grid-area: content;
  }
  .serviceHub__filtrer {
    background-color: #1C5D99;
    color: #fff;
    padding: 15px;
  }
  .team {
    font-family: "Metrophobic";
  }
  .team__title {
    font-size: 40px;
  }
  .card__member__description {
    font-size: 24px;
  }
  .card__member__description a {
    font-size: 24px;
  }
  .services__titre {
    font-size: 40px;
  }
  .services__container {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .services__carte {
    grid-template-rows: 3fr 1fr 1fr;
    row-gap: 10px;
    font-size: 24px;
  }
  .services__carte--active {
    transform: scale(1.05);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Metrophobic";
}

.body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 5%;
  max-width: 1400px;
  margin: 0 auto;
}

/*fix navbar*/
.navbar-expand-md {
  flex-wrap: wrap;
  justify-content: center;
}

a {
  color: #5180AB;
}
a:hover {
  color: #C7C7C7;
}/*# sourceMappingURL=style.css.map */